html, body {
    height: 100%;
    width: 100%;
}

#root {
    display: flex;
    justify-content: center;
}

html {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: $FONT_LATO_REGULAR;
}

body, button, html, input, select, textarea, p {
    font-size: 14px;
    color: #172b4d;
}

a {
    text-decoration: none;
}

.main-container {
    height: 100vh;
    max-width: 1920px;
    width: 100%;
    overflow-x: auto;
    background-size: cover;
    background-position: 50%;
    background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/1440x1920/46a110d9097386018f38bec44a8bb79f/photo-1622630395351-24d5917c1c1f.jpg");
}

.content {
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}