.card {
    @include flexbox;
    flex-direction: column;
    color: #172b4d;
    cursor: pointer;
    box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
    align-items: center;
    border-radius: 3px;
    background-color: white;
    justify-content: space-between;
    padding: 2px 8px;
    min-height: 32px;
    margin-bottom: 1rem;
    & > :first-child {
        flex-flow: nowrap;
        width: 100%;
    }
    @include e(comments) {
        align-items: center;
        width: 100%;
        padding: 5px 0 10px;
        span {
            font-size: 12px;
            color: #5e6c84;
            margin-left: 5px;
        }
    }
    @include e(title) {
        padding-top: 5px;
        width: 100%;
    }
    .popover {
        display: none;
    }
    &:hover {
        .btn {
            background-color: #5e6c84;
            display: block;
        }
    }
    @include e(popover) {
        .btn {
            background: rgba(0,0,0,.6);
            border-radius: 3px;
            clear: both;
            color: #e6e6e6;
        }
    }
}