.card {
    @include flexbox;
    color: #172b4d;
    cursor: pointer;
    box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
    align-items: center;
    border-radius: 3px;
    background-color: white;
    justify-content: space-between;
    padding: 2px 8px;
    height: 32px;
    margin-bottom: 1rem;
    @include e(title) {
        width: 100%;
    }
    .popover {
        display: none;
    }
    &:hover {
        .btn {
            background-color: #5e6c84;
            display: block;
        }
    }
    @include e(popover) {
        .btn {
            background: rgba(0,0,0,.6);
            border-radius: 3px;
            clear: both;
            color: #e6e6e6;
        }
    }
}