.header {
    @include flexbox;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.32);
    color: #fff;
    justify-content: space-between;
    height: 40px;
    max-width: 100%;
    text-align: center;
    padding: 0 1rem;
    .avatar {
        cursor: pointer;
    }
    & > div {
        width: 100%;
        & > :nth-child(1) {
            @include flexbox;
            justify-content: flex-start;
        }
        & > :nth-child(3) {
            @include flexbox;
            justify-content: flex-end;
        }
    }
}