.popover {
    @include position(absolute, $top: 44px, $right: 3px);
    width: 300px;
    background-color: white;
    height: 300px;
    box-sizing: border-box;
    z-index: 10;
    @include e(header) {
        font-weight: 400;
        border-bottom: 1px solid rgba(9, 30, 66, 0.13);
        color: #5E6C84;
        height: 40px;
        display: block;
        line-height: 40px;
        svg {
            @include position(absolute, $right: 10px, $top: 10px);
        }
        a {
            cursor: pointer;
        }
    }
    @include m(left) {
        left: 4px;
    }
    @include e(body) {
        margin-top: 10px;
        color: #5E6C84;
    }
    @include e(boards) {
        @include flexbox;
        flex-direction: column;
        margin: 8px 4px 8px 8px;
    }
    @include e(board) {
        @include flexbox;
        align-items: center;
        justify-content: flex-start;
        font-weight: 700;
        height: 36px;
        overflow: hidden;
        padding: 5px;
        box-sizing: border-box;
        border-radius: 3px;
        width: 100%;
        cursor: pointer;
        &:hover {
            background-color: #c1c7d0;
        }
    }
    @include e(item) {
        color: #5E6C84;
        margin-bottom: 1rem;
        padding: 6px 12px;
        &:hover {
            background-color: rgba(9, 30, 66, 0.04);
            cursor: pointer;
        }
        p {
            text-align: left;
            color: #5E6C84;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            margin: 4px 0 0 0;
        }
        & > :first-child {
            h4 {
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
            }
            svg {
                margin-right: 10px;
            }
        }
    }
}